:root {
    --main-color: #111827;
    --main-comp-color: rgb(20, 27, 42);
    --primary-color: #6182a4;
    --primary-color-hover: #53768c;
    --font-color: #d4d4d4;
    --font-dark-color: #1d1d1d;

    --border-color: #272f3c;
    --height-navbar: 56px;
}

h1 {
    font-size: 1.53rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.24rem;
    margin-bottom: 10px;
}

a {
    color: var(--font-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-size: .95rem;
}

/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-comp-color);
    padding: 10px;
    border-bottom: var(--border-color) solid 1px;
    height: var(--height-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.navbar .navbar-brand {
    color: var(--font-color);
    text-decoration: none;
    margin: 0;
}

.ctn-btn,
.navbar {
    position: fixed;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* End NavBar */

body {
    background-color: var(--main-color);
    position: relative;
    top: var(--height-navbar);
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    color: var(--font-color);
    background-color: transparent;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: var(--border-color) solid 1px;
}

.btn:hover {
    border: var(--font-color) solid 1px;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    position: fixed;
    top: var(--height-navbar);
    right: -258px;
    width: 260px;
    height: 100vh;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.048);
    z-index: 1000;
    padding: 40px 0 20px 0;
    margin: 0;
    border-left: 1px solid var(--border-color);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.dropdown:hover ul {
    right: 0;
}

.dropdown ul a {
    color: var(--font-color);
    padding: 16px 24px;
    text-decoration: none;
    display: block;
    transition: background-color .1s ease;
}

.dropdown ul a:hover {
    background-color: var(--primary-color);
    color: var(--font-dark-color);
    transition: background-color 0.2s ease;

}


/* Responsive */
@media (max-width: 768px) {
    .navbar {
        padding: 8px;
    }

    .ctn-btn {
        gap: 8px;
    }

    .ctn-btn .btn {
        font-size: 10px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .ctn-btn {
        flex-direction: column;
        gap: 5px;
    }

    .ctn-btn .btn {
        font-size: 9px;
        padding: 5px 10px;
    }
}

/* End NavBar */



/* <div class="profile">
<h2>Informations utilisateur</h2>
<p><strong>ID:</strong> {{.user.ID}}</p>
<p><strong>Nom:</strong> {{.user.Name}}</p>
<p><strong>Email:</strong> {{.user.Email}}</p>
<p><strong>Username:</strong> {{.user.Username}}</p>
</div> */