<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    
    {{if .user}}
    {{template "connected_home" .}}
    {{else}}
    {{.navbar|safe}}
    {{end}}

    <h1>🚀 Simple Login avec Zitadel</h1>

</body>
</html>
