<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1>🚀 Simple Login avec Zitadel</h1>
    
    {{if .user}}
        <p>✅ Vous êtes connecté !</p>
        {{.profile_button|safe}}  
        {{.logout_button|safe}}
    {{else}}
        <p>❌ Vous n'êtes pas connecté</p>
        {{.connexion_button|safe}}
    {{end}}
</body>
</html>
